* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightblue;
    }
    
    #header {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 15%;
    }
    
    #logoContainer {
        height: 100%;
    }
    #logo {
        height: 100%;
    }
    
    .avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    
    #homeButton {
    background-color: green;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    }
    #helpButton{
        width: 60px;
        border-radius: 500px;
        border: 5px solid black;
        position: fixed;
        margin-right: 0px;
        margin: auto;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    
    }
    .helpInfo {
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }
    .avatar:hover{
        background-color: darkgreen;
        transform: scale(1.1);
        opacity: 0.8;
    }