body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 10px auto;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

div {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
label, input {
    padding: 10px;
    margin: 10px;
}
label {
    font-size: 25px;
    font-weight: bold;
}
input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
} 

#copyrightDate {
    font-size: 13px;
    /* text-align:center; */
    margin: auto auto 20px;
}
