body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-align: center;
}



body.dark {
    background-color: #3d3d3d;
}

form{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 10px auto;
    padding-bottom: 30px;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px 2px black;
}

form.dark {
    background-color: #585858;
    box-shadow: 0 0 5px 2px #000000;
    color: white;
}

#helpButton{
    width: 60px;
    border-radius: 500px;
    border: 5px solid black;
    position: fixed;
    margin-right: 0px;
    margin: auto;
    right: 10px;
    bottom: 10px;
    cursor: pointer;

}
div {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
div.dark {
    color: white;
}

a {
    /* text-decoration: none; */
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
a.dark {
    color: white;
}

a:hover {
    transform: scale(1.01);
    color: #4255ff;
}

label, input {
    padding: 10px;
    margin: 10px;
}
label {
    font-size: 25px;
    font-weight: bold;
}
input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}
input.dark {
    background-color: #585858;
    color: white;
    border: 1px solid white;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #4255ff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
    transition: 0.05s;
} 
button:hover {
    transform: scale(1.02);
    background-color: #3a4fd4;

}

#copyrightDate {
    font-size: 13px;
    /* text-align:center; */
    margin: auto auto 20px;
}

#copyrightDate.dark {
    color: white;
}