
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
  }

  body.dark {
    background-color: #3d3d3d;
  }
  
  #header {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 15%;
  }
  .avatar:hover{
    background-color: darkgreen;
    transform: scale(1.1);
    opacity: 0.8;
  }
  #logoContainer {
    height: 100%;
  }
  #logo {
    height: 100%;
  }
  
  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
