#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid black;
    height: 15%;
    z-index: 1;
    box-shadow: 0px 0px 10px 2px black;
    margin: 0;
    padding: 0;
    width: 100%;
}

#logoContainer {
    height: 100%;
}
#logo {
    height: 100%;
}

#searchContainer {
    display: flex;

    height: 40%;
    width: 40%;
    /* background-color: blue; */
    padding: 10px;
}
#topicDropdown {
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    flex: 1;
}
#searchBar {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px;
    flex: 2;
}
#searchIcon {
    height: 100%;
    margin-left: 15px;
    cursor: pointer;
}
#searchIcon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}



/* drop down styling */

*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: #333; */
    height: 100vh;
}
.icons-size{
    color: #333;
    font-size: 14px;
}
.action{
    /* position: fixed; */
    margin-right: 20px;
    right: 30px;
    top:20px;
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 60px;
    transition: 0.5s;
}
.action .profile img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.action .menu{
    /* background-color:blue; */
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    box-shadow: #333;
}
.action .menu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}
.action .menu::before{
    background-color:#fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform:rotate(45deg);
    top:-5px;
    width: 20px;
}
.action .menu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 10px 0px;
    text-align: left;
    width: 100%;
}
.action .menu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
}
.action .menu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}
.action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
    /* transform: rotate(10deg); */
    /* padding-left: 20px; */
}
.action .menu ul li:hover a{
    color:#000;
    padding-left: 20px;
}