
:root {
  /* --primary: #FFCE00; */
  --primary: #06188f;
  /* --secondary: #FE4880; */
  --secondary: #5264ff;
  --dark: #212121;
  --light: #F3F3F3;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

#contentContainer.dark {
  background-color: #3d3d3d;
}

#quizContainerForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: white; */
    margin-top: 10px;
    border-radius: 10px;
    /* width: 80%; */
    height: fit-content;
    width: 50%;
}

.questionContainer {
    padding: 20px;
    margin: 10px;
    /* border: 1px solid black; */
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    box-shadow: 0 0 5px #000000;
    border-radius: 10px;
    width: 100%;
}
.questionContainer .termCount {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    color: #ffffff;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.quizQuestionCards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.frontCardText, .backCardText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 10px auto;
    background-image: linear-gradient(to bottom right, var(--secondary), var(--primary));
    box-shadow: 0 0 10px #212121;
    color: white;
    opacity: 0.9;
}
.frontCardText h2,
.backCardText h2 {
    margin: 10%;
}

.questionContainer p {
    margin-top: 10px;
    color: white;
    opacity: 0.9;
}



.radioButtonTrueFalse {
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    width: 100%;
    align-items: center;
  }
  
  .radioButtonTrueFalse li {
    display: flex;
    align-items: center;
    margin: auto;
    width: 45%;
    height: 50px;
    position: relative;
    /* border-radius: 10px;
    border: 3px solid gray; */
    
  }
  .radioButtonTrueFalse li:hover + input[type="radio"] {
    border: 3px solid black;
  }
  
  .radioButtonTrueFalse label,
  .radioButtonTrueFalse input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 3px solid darkgray; */
    box-shadow: 0 0 5px #212121;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  #helpButton{
    width: 60px;
    border-radius: 500px;
    border: 5px solid black;
    position: fixed;
    margin-right: 0px;
    margin: auto;
    right: 10px;
    bottom: 10px;
    cursor: pointer;

}
  .radioButtonTrueFalse label:hover, .radioButtonTrueFalse input:hover {
    border: 3px solid black;
  }
  
  .radioButtonTrueFalse input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .radioButtonTrueFalse input[type="radio"]:checked+label,
  .Checked+label {
    /* background: #afafaf; */
    /* border: 3px solid #4255ff; */
    box-shadow: 0 0 10px var(--primary);
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    
  }
  
  .radioButtonTrueFalse label {
    padding: 5px;
    /* border: 1px solid #CCC; */
    cursor: pointer;
    z-index: 90;
  }
  
  .radioButtonTrueFalse label:hover {
    background: #DDD;
  }




  #submitMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    margin: 20px auto;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
  }

  #submitMessage.dark {
    color: white;
  }

  #submitButton {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #4255ff;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: 0.2s;
  }
  #submitButton:hover {
    transform: scale(1.02);
    background-color: #3a4fd4;
  }