

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* background-color: purple; */
    margin: 0;
    padding: 0;
}

#quizContainerForm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: white; */
    margin-top: 10px;
    border-radius: 10px;
    /* width: 80%; */
    height: fit-content;
}

.questionContainer {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

.quizQuestionCards {
    display: flex;
}

.frontCardText, .backCardText {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;

    
}

.questionContainer p {
    margin: 10px;
    color: #5a5a5a;
}





.radioButtonTrueFalse {
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    width: 100%;
    /* background-color: purple; */
  }
  
  .radioButtonTrueFalse li {
    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 50px;
    position: relative;
    /* border-radius: 10px;
    border: 3px solid gray; */
    
  }
  .radioButtonTrueFalse li:hover {
    /* border: 3px solid darkgray; */
  }
  
  .radioButtonTrueFalse label,
  .radioButtonTrueFalse input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 3px solid darkgray;
    border-radius: 10px; */
    cursor: pointer;
  }
  .radioButtonTrueFalse label:hover, .radioButtonTrueFalse input:hover {
    border: 3px solid black;
  }
  
  .radioButtonTrueFalse input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .radioButtonTrueFalse input[type="radio"]:checked+label,
  .Checked+label {
    background: #636363;
    /* border: 3px solid black; */
  }
  
  .radioButtonTrueFalse label {
    padding: 5px;
    /* border: 1px solid #CCC; */
    cursor: pointer;
    z-index: 90;
  }
  
  .radioButtonTrueFalse label:hover {
    background: #DDD;
  }