body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.username{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
  color: green;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.commentContent{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightgreen;
  color: blue;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
#commentsSection{
  background-color: #3a4fd4;
}

.commentHeader{
  align-items: center;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: lightblue;
  color: darkgreen;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newComment {
  max-width: 60%;
  padding: 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}

#commentUpload {
  max-width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

#commentUpload:hover {
  background-color: #3e8e41;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  /* overflow-y: auto; */
}



#testButton {
    margin: 20px auto;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #4255ff;
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    width: fit-content;
  }

  #testButton:hover {
    background-color: #3a4fd4;
  }


  /* styling for the flashcard and the arrows starts here */

  #allCardsContainer {
    display: flex;
    justify-content: center;
    width: 100%;

  }

:root {
    /* --primary: #FFCE00; */
    --primary: #06188f;
    /* --secondary: #FE4880; */
    --secondary: #5264ff;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
  
  .card {
    display: inline;
    margin: 0 10%;
    width: 50%;
    height: 325px;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front, .card__face--back {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2, .card__face--back h2 {
    color: #FFF;
    font-size: 32px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }

  
  
  
  #currTerm {
    margin: 20px auto;
  }











  .left,
  .right {
      transition: .2s;
      transform: scale(2);
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
  }
  
  .left {

      
  }
  
  .right {

  }
  
  
  .left:hover, .right:hover {
    /* background-color: darkgreen; */
    transform: scale(2.2);
    opacity: 0.8;
    cursor: pointer;
  }
  
